@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}

.cabecalho-imagem {
   height: 110px; 
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff2e7;
}

.conteudo {
    margin-bottom: 20px;
    border-top: 0.5px solid #fff2e7;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteudo-principal-titulo {
    font-family: 'righteous', cursive;
    font-weight: 400;
    font-size: 64;
    color: #fff2e7;
}

.conteudo-principal-subtitulo {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #ecd6c4;
}

.conteudo-proncipal-paragrafo {
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecd6c4;
}

.conteudo-principal-imagem {
    height: 110px;
}

.conteudo-principal-imagem2 {
    height: 140px;
}

.rodape {
    padding: 32px;
    border-top: 0.5px solid #fff2e7;
    font-family: 'sarala', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #ecd6c4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}